In [4]:
#List
students=['nana','jananee','akshaaj']
print(students[0])
print(students[2])

nana
akshaaj

In [5]:
#add elements in list
students.append('kgln')
print(students)

['nana', 'jananee', 'akshaaj', 'kgln']

In [8]:
#to add a new student in index 1
students[1] = 'nana1'
print(students)
students.insert(1,'Akshaaj1')
print(students)

['nana', 'nana1', 'akshaaj', 'Akshaaj1', 'kgln']
['nana', 'Akshaaj1', 'nana1', 'akshaaj', 'Akshaaj1', 'kgln']

In [10]:
#remove name from list
del students[1]
print(students)

['nana', 'akshaaj', 'Akshaaj1', 'kgln']

In [11]:
students.pop()

'kgln'

In [12]:
#List Asc order
students.sort()
print(students)

['Akshaaj1', 'akshaaj', 'nana']

In [14]:
#Temp sort
students.insert(2,'Jananee')
print(sorted(students))  First starting with Capital and then lowercase

['Akshaaj1', 'Jananee', 'akshaaj', 'nana']